* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}


/*HEADER*/

header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #333;
}

header div.welcome {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 7vh 20px;
    color: #fff;
    font-size: 1.6em;
    text-transform: uppercase;
    text-align: center;
}

header h1 {
    font-size: 2.1em;
    padding-bottom: 15px;
}

header button {
    padding: 5px 20px;
    border: 2px solid #fff;
    margin-top: 30px;
    background-color: transparent;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    text-transform: uppercase;
}

header img {
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 800px;
    max-width: 639px;
    width: 70%;
}

@media (orientation: portrait) and (min-width: 360px) {
    header div.welcome {
        font-size: 1.8em;
    }

    header h1 {
        padding-bottom: 30px;
    }

    header button {
        margin-top: 40px;
    }

    header img {
        width: 80%;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    header div.welcome {
        font-size: 2.8rem;
    }

    header img {
        right: 0;
        bottom: 0;
        width: 70%;
    }
}

@media (orientation: landscape) {
    header div.welcome {
        width: 50%;
        padding: 15vh 20px;
        text-align: left;
        font-size: 1.5em;
    }

    header h1 {
        padding-bottom: 25px;
    }

    header img {
        width: auto;
        height: 95%;
    }

    header button {
        padding: 5px 5px;
        margin-top: 50px;
        font-size: 0.7em;
    }
}

@media (orientation: landscape) and (min-width: 640px) {
    header div.welcome {
        left: 30px;
        top: 20px;
        font-size: 1.9em;
    }
}

@media (min-width: 1024px) {
    header div.welcome {
        top: 60px;
        font-size: 3em;
    }
    
    header h1 {
        padding-bottom: 70px;
    }
    
    header button {
        padding: 10px 25px;
        margin-top: 130px;
        font-size: 0.8em;
    }
    
    header button:hover {
        color: #333;
        background-color: #fff;
        cursor: pointer;
    }
}

/*
@media (min-width: 1024px) and (max-width: 650px) {
    header div.welcome {
        font-size: 2em;;
}
*/

@media (min-width: 1366px) {
    header div.welcome {
        left: 120px;
    }
}

@media (min-width: 1600px) {
    header div.welcome {
        left: 220px;
        top: auto;
        bottom: 90px;
        font-size: 4em;
    }
}

footer {
    height: 100vh;
}
