* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}


/*HEADER*/

header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #333;
}

header div.welcome {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 7vh 20px;
    color: #fff;
    font-size: 1.6em;
    text-transform: uppercase;
    text-align: center;
}

header h1 {
    padding-bottom: 15px;
    font-size: 2.1em;
    letter-spacing: 4px;
}

header button {
    padding: 5px 20px;
    border: 2px solid #fff;
    margin-top: 30px;
    background-color: transparent;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    text-transform: uppercase;
}

header img {
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 800px;
    max-width: 639px;
    width: 70%;
}

@media (orientation: portrait) and (min-width: 360px) {
    header div.welcome {
        font-size: 1.8em;
    }

    header h1 {
        padding-bottom: 30px;
    }

    header button {
        margin-top: 40px;
    }

    header img {
        width: 80%;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    header div.welcome {
        font-size: 2.8rem;
    }

    header img {
        right: 0;
        bottom: 0;
        width: 70%;
    }
}

@media (orientation: landscape) {
    header div.welcome {
        width: 50%;
        padding: 15vh 20px;
        text-align: left;
        font-size: 1.5em;
    }

    header h1 {
        padding-bottom: 25px;
    }

    header img {
        width: auto;
        height: 95%;
    }

    header button {
        padding: 5px 5px;
        margin-top: 50px;
        font-size: 0.7em;
    }
}

@media (orientation: landscape) and (min-width: 640px) {
    header div.welcome {
        left: 30px;
        top: 20px;
        font-size: 1.9em;
    }
}

@media (min-width: 1024px) {
    header div.welcome {
        top: 60px;
        font-size: 3em;
    }

    header h1 {
        padding-bottom: 70px;
    }

    header button {
        padding: 10px 25px;
        margin-top: 130px;
        font-size: 0.8em;
    }

    header button:hover {
        color: #333;
        background-color: #fff;
        cursor: pointer;
    }
}

@media (min-width: 1024px) and (max-height: 650px) {
    header div.welcome {
        top: 40px;
        font-size: 2.5em;
    }

    header h1 {
        padding-bottom: 7vh;
    }

    header button {
        margin-top: 12vh;
        font-size: 0.7em;
    }

}

@media (min-width: 1366px) {
    header div.welcome {
        left: 120px;
    }
}

@media (min-width: 1600px) {
    header div.welcome {
        left: 220px;
        top: auto;
        bottom: 90px;
        font-size: 4em;
    }
}


/*SEKCJA FEATURES*/

.features {
    max-width: 1200px;
    margin: 0 auto;
}

.features h1 {
    font-size: 2em;
    padding: 20px;
    margin-top: 15px;
    text-transform: uppercase;
    text-align: center;
}

.feature {
    padding: 5px 20px;
    text-align: center;
}

.feature img {
    width: 100%;
}

.feature h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.4em;
}

.feature p {
    font-size: 1.2em;
}

@media (min-width: 768px) {
    .features-flex {
        display: flex;
    }

    .features h1 {
        font-size: 2.5em;
    }

    .feature {
        padding: 0 10px;
    }
}

@media (min-width: 1024px) {
    .feature {
        padding: 0 25px;
    }

    .features h1 {
        font-size: 3em;
    }

    .feature h2 {
        font-size: 1.6em;
    }

    .feature p {
        font-size: 1.4em;
    }
}


/*SEKCJA PORTFOLIO*/

.portfolio {
    padding-bottom: 0.1px;
    margin: 0 auto;
    background-color: black;
    color: white;
}

.portfolio__title {
    font-size: 2em;
    padding: 25px 20px;
    margin-top: 40px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
}

.portfolio__picture {
    width: 100%;
}

.portfolio__item {
    max-width: 1200px;
    margin: 0 auto 30px;
}

.portfolio__picture {
    width: 100%;
}

.portfolio__item:nth-child(odd) {
    background-color: royalblue;
}

.portfolio__item:nth-child(even) {
    background-color: orangered;
}

.portfolio__item:nth-child(odd) .portfolio__item-title,
.portfolio__item:nth-child(even) .portfolio__item-title {
    width: 95%;
    padding: 20px 0 10px 5%;
    margin: 0 5% 0 0;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 400;
}

.portfolio__description {
    padding: 20px 0 10px 5%;
    margin: 0 5% 0 0;
    font-size: 1.2em;
}

@media (min-width: 768px) {
    .portfolio__title {
        padding: 35px 20px;
        margin-top: 50px;
        font-size: 2.5em;
    }

    .portfolio__item {
        display: flex;
        margin-bottom: 50px;
    }

    .portfolio__picture {
        width: 50%;
    }

    .portfolio__item:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .portfolio__item:nth-child(odd) .portfolio__item-title {
        padding: 20px 5% 10px 0;
        margin: 0 0 0 5%;
    }

    .portfolio__item-title {
        padding: 30px 0 20px 5%;
        font-size: 1.8em;
    }

    .portfolio__description {
        padding: 30px 0 20px 5%;
        font-size: 1.4em;
    }
}

@media (min-width:1024px) {
    .portfolio__title {
        padding: 40px 20px;
        margin-top: 70px;
        font-size: 3em;
    }

    .portfolio__item {
        display: flex;
        margin-bottom: 50px;
    }
}


/*SEKCJA MOTTO*/
.motto {
    background-image: url(../img/motto.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.motto__background {
    background-color: rgba(0, 63, 114, 0.5);
    color: white;
}

.motto__title {
    padding: 40px 20px;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
}

.motto__sentence {
    max-width: 768px;
    padding: 40px 20px 20px;
    margin: 0 auto;
    font-size: 1.8em;
    text-align: center;
}

.motto__author {
    padding: 0 20px 100px;
    font-size: 1.4em;
    font-weight: 300;
    text-align: center;
}

@media (min-width:768px) {
    .motto__title {
        padding: 60px 20px 40px;
        font-size: 2.5em;
    }
}

@media (min-width: 1024px) {
    .motto__title {
        padding: 140px 20px 60px;
        font-size: 3.5em;
    }

    .motto__sentence {
        padding: 5vw 20px 4vw;
        font-size: 2.8em;
    }

    .motto__author {
        padding: 0 20px 160px;
        font-size: 2em;
    }
}


/*SEKCJA HOBBY*/
.hobby {
    margin-bottom: 20px;
}

.hobby__title {
    font-size: 2em;
    padding: 25px 20px;
    text-transform: uppercase;
    text-align: center;
}

.hobby__item {
    height: 200px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
}

.hobby__item:nth-of-type(1) {
    background-image: url(../img/hobby1.jpg);
}

.hobby__item:nth-of-type(2) {
    background-image: url(../img/hobby2.jpg);
}

.hobby__item:nth-of-type(3) {
    background-image: url(../img/hobby3.jpg);
}

.hobby__item:nth-of-type(4) {
    background-image: url(../img/hobby4.jpg);
}


.hobby__text {
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    font-size: 1.6em;
    text-align: center;
}

@media (min-width: 768px) {
    .hobby__title {
        padding: 35px 20px;
        font-size: 2.5em;
    }

    .hobby__text {
        padding: 15px 20px;
        font-size: 2em;
    }

    .hobby__item {
        height: 280px;
    }
}

@media (min-width: 960px) {
    .hobby__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1920px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .hobby__title {
        padding: 40px 20px;
        font-size: 3em;
    }

    .hobby__item {
        height: 320px;
        background-size: 100%;
        transition: background-size 1s ease-in;
    }

    .hobby__text {
        font-size: 2.2em;
        line-height: 320px;
        opacity: 0;
        transition: opacity 0.3s ease-in;
    }

    .hobby__text:hover {
        opacity: 1;

    }

    .hobby__item:hover {
        background-size: 130%;
    }
}

@media (min-width: 1024px) {
    .hobby__item {
        height: 400px;
    }

    .hobby__text {
        font-size: 3em;
        line-height: 400px;
    }
}


/*SEKCJA FOOTER*/

footer {
    height: 50vh;
}
